### Homework 6

**1. взять любой набор данных для бинарной классификации (можно скачать один из модельных с https://archive.ics.uci.edu/ml/datasets.php)**

Описание данных - https://archive.ics.uci.edu/ml/datasets/default+of+credit+card+clients#

In [144]:
import pandas as pd
import numpy as np
data = pd.read_excel("default of credit card clients.xls", header=1, index_col='ID')
data.head(3)

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,0
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0

In [145]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30000 entries, 1 to 30000
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   LIMIT_BAL                   30000 non-null  int64
 1   SEX                         30000 non-null  int64
 2   EDUCATION                   30000 non-null  int64
 3   MARRIAGE                    30000 non-null  int64
 4   AGE                         30000 non-null  int64
 5   PAY_0                       30000 non-null  int64
 6   PAY_2                       30000 non-null  int64
 7   PAY_3                       30000 non-null  int64
 8   PAY_4                       30000 non-null  int64
 9   PAY_5                       30000 non-null  int64
 10  PAY_6                       30000 non-null  int64
 11  BILL_AMT1                   30000 non-null  int64
 12  BILL_AMT2                   30000 non-null  int64
 13  BILL_AMT3                   30000 non-null  int64
 14  BILL_AMT4                   30000 non-null  int64
 15  BILL_AMT5                   30000 non-null  int64
 16  BILL_AMT6                   30000 non-null  int64
 17  PAY_AMT1                    30000 non-null  int64
 18  PAY_AMT2                    30000 non-null  int64
 19  PAY_AMT3                    30000 non-null  int64
 20  PAY_AMT4                    30000 non-null  int64
 21  PAY_AMT5                    30000 non-null  int64
 22  PAY_AMT6                    30000 non-null  int64
 23  default payment next month  30000 non-null  int64
dtypes: int64(24)
memory usage: 5.7 MB

У нас есть 22 признака и 1 целевая переменная (бинарная) - нужно определить заплатит ли клиент по кредиту в следующем месяце

In [146]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
LIMIT_BAL,30000.0,167484.322667,129747.661567,10000.0,50000.00,140000.0,240000.00,1000000.0
SEX,30000.0,1.603733,0.489129,1.0,1.00,2.0,2.00,2.0
EDUCATION,30000.0,1.853133,0.790349,0.0,1.00,2.0,2.00,6.0
MARRIAGE,30000.0,1.551867,0.521970,0.0,1.00,2.0,2.00,3.0
AGE,30000.0,35.485500,9.217904,21.0,28.00,34.0,41.00,79.0
PAY_0,30000.0,-0.016700,1.123802,-2.0,-1.00,0.0,0.00,8.0
PAY_2,30000.0,-0.133767,1.197186,-2.0,-1.00,0.0,0.00,8.0
PAY_3,30000.0,-0.166200,1.196868,-2.0,-1.00,0.0,0.00,8.0
PAY_4,30000.0,-0.220667,1.169139,-2.0,-1.00,0.0,0.00,8.0
PAY_5,30000.0,-0.266200,1.133187,-2.0,-1.00,0.0,0.00,8.0
PAY_6,30000.0,-0.291100,1.149988,-2.0,-1.00,0.0,0.00,8.0
BILL_AMT1,30000.0,51223.330900,73635.860576,-165580.0,3558.75,22381.5,67091.00,964511.0
BILL_AMT2,30000.0,49179.075167,71173.768783,-69777.0,2984.75,21200.0,64006.25,983931.0
BILL_AMT3,30000.0,47013.154800,69349.387427,-157264.0,2666.25,20088.5,60164.75,1664089.0
BILL_AMT4,30000.0,43262.948967,64332.856134,-170000.0,2326.75,19052.0,54506.00,891586.0
BILL_AMT5,30000.0,40311.400967,60797.155770,-81334.0,1763.00,18104.5,50190.50,927171.0
BILL_AMT6,30000.0,38871.760400,59554.107537,-339603.0,1256.00,17071.0,49198.25,961664.0
PAY_AMT1,30000.0,5663.580500,16563.280354,0.0,1000.00,2100.0,5006.00,873552.0
PAY_AMT2,30000.0,5921.163500,23040.870402,0.0,833.00,2009.0,5000.00,1684259.0
PAY_AMT3,30000.0,5225.681500,17606.961470,0.0,390.00,1800.0,4505.00,896040.0
PAY_AMT4,30000.0,4826.076867,15666.159744,0.0,296.00,1500.0,4013.25,621000.0
PAY_AMT5,30000.0,4799.387633,15278.305679,0.0,252.50,1500.0,4031.50,426529.0
PAY_AMT6,30000.0,5215.502567,17777.465775,0.0,117.75,1500.0,4000.00,528666.0
default payment next month,30000.0,0.221167,0.415039,0.0,0.00,0.0,0.00,1.0

Пропусков нет. Есть вещественные переменные - применим к ним StandartScaler и категориальные - применим OHE-кодирование.

Посмотрим на соотношение классов

In [147]:
data.iloc[:, -1].value_counts()

0    23365
1     6635
Name: default payment next month, dtype: int64

Разбиваем выборку на тренировочную и тестовую части и обучаем модель

In [148]:
from sklearn.model_selection import train_test_split

x_data = data.iloc[:,:-1]
y_data = data.iloc[:,-1]

x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.2, random_state=42)

**2. сделать feature engineering**

Будем использовать CatBoostClassifier, поэтому преобразование столбцов нам не нужно. Просто выделим категориальные переменные

In [149]:
cat_cols = ['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']

**3. обучить любой классификатор (какой вам нравится)**

In [150]:
from catboost import CatBoostClassifier

model = CatBoostClassifier(random_state=42, cat_features=cat_cols, silent=True)

model.fit(x_train, y_train)
y_predict = model.predict(x_test)

Проверяем качество

In [151]:
from sklearn.metrics import recall_score, precision_score, roc_auc_score, accuracy_score, f1_score

def evaluate_results(y_test, y_predict, save=False):
    print('Classification results:')
    f1 = f1_score(y_test, y_predict)
    print("f1: %.2f%%" % (f1 * 100.0)) 
    roc = roc_auc_score(y_test, y_predict)
    print("roc: %.2f%%" % (roc * 100.0)) 
    rec = recall_score(y_test, y_predict, average='binary')
    print("recall: %.2f%%" % (rec * 100.0)) 
    prc = precision_score(y_test, y_predict, average='binary')
    print("precision: %.2f%%" % (prc * 100.0))
    if save:
        return {'f1': f1, 'roc': roc, 'rec': rec, 'prc': prc}
    else:
        return None

    
res_1 = evaluate_results(y_test, y_predict, True)

Classification results:
f1: 46.64%
roc: 65.42%
recall: 35.72%
precision: 67.19%

Результаты без дополнительной обработки данных не очень.

#### 4. далее разделить ваш набор данных на два множества: P (positives) и U (unlabeled). Причем брать нужно не все положительные (класс 1) примеры, а только лишь часть
#### 5. применить random negative sampling для построения классификатора в новых условиях
#### 6. сравнить качество с решением из пункта 4 (построить отчет - таблицу метрик)

Представим, что нам неизвестны негативы и часть позитивов

In [152]:
mod_data = data.copy()
#get the indices of the positives samples
pos_ind = np.where(mod_data.iloc[:,-1].values == 1)[0]
#shuffle them
np.random.shuffle(pos_ind)
# leave just 25% of the positives marked
pos_sample_len = int(np.ceil(0.25 * len(pos_ind)))
print(f'Using {pos_sample_len}/{len(pos_ind)} as positives and unlabeling the rest')
pos_sample = pos_ind[:pos_sample_len]

Using 1659/6635 as positives and unlabeling the rest

Создаем столбец для новой целевой переменной, где у нас два класса - P (1) и U (-1)

In [153]:
mod_data['class_test'] = 0
mod_data.loc[pos_sample,'class_test'] = 1
print('target variable:\n', mod_data.iloc[:,-1].value_counts())

target variable:
 0    28341
1     1659
Name: class_test, dtype: int64

In [154]:
mod_data.head(10)

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month,class_test
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,689,0,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3455,3261,0,1000,1000,1000,0,2000,1,0
3,90000,2,2,2,34,0,0,0,0,0,...,14948,15549,1518,1500,1000,1000,1000,5000,0,0
4,50000,2,2,1,37,0,0,0,0,0,...,28959,29547,2000,2019,1200,1100,1069,1000,0,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,19146,19131,2000,36681,10000,9000,689,679,0,0
6,50000,1,1,2,37,0,0,0,0,0,...,19619,20024,2500,1815,657,1000,1000,800,0,0
7,500000,1,1,2,29,0,0,0,0,0,...,483003,473944,55000,40000,38000,20239,13750,13770,0,0
8,100000,2,2,2,23,0,-1,-1,0,0,...,-159,567,380,601,0,581,1687,1542,0,0
9,140000,2,3,1,28,0,0,2,0,0,...,11793,3719,3329,0,432,1000,1000,1000,0,0
10,20000,1,3,2,35,-2,-2,-2,-2,-1,...,13007,13912,0,0,0,13007,1122,0,0,0

In [155]:
x_data = mod_data.iloc[:,:-2].values # just the X 
y_labeled = mod_data.iloc[:,-1].values # new class (just the P & U)
y_positive = mod_data.iloc[:,-2].values # original class

In [156]:
mod_data = mod_data.sample(frac=1)
neg_sample = mod_data[mod_data['class_test']==0][:len(mod_data[mod_data['class_test']==1])]
sample_test = mod_data[mod_data['class_test']==0][len(mod_data[mod_data['class_test']==1]):]
pos_sample = mod_data[mod_data['class_test']==1]
print(neg_sample.shape, pos_sample.shape)
sample_train = pd.concat([neg_sample, pos_sample]).sample(frac=1)

(1659, 25) (1659, 25)

In [157]:
model = CatBoostClassifier(random_state=42, cat_features=cat_cols, silent=True)

model.fit(sample_train.iloc[:,:-2], 
          sample_train.iloc[:,-2])
y_predict = model.predict(sample_test.iloc[:,:-2].values)
res2 = evaluate_results(sample_test.iloc[:,-2].values, y_predict, True)

Classification results:
f1: 46.02%
roc: 65.07%
recall: 34.92%
precision: 67.48%

In [158]:
pd.DataFrame(data=[res_1, res2], index = ['Pure CatBoostClassifier', 'Random negative sampling'])

                                f1       roc       rec       prc
Pure CatBoostClassifier   0.466435  0.654169  0.357197  0.671920
Random negative sampling  0.460234  0.650670  0.349188  0.674845

Результаты пратически идентичны

#### 7. поэкспериментировать с долей P на шаге 5 (как будет меняться качество модели при уменьшении/увеличении размера P)

In [164]:
res_list = []
for p_range in np.linspace(0.1, 0.9, 9):
    mod_data = data.copy()
    #get the indices of the positives samples
    pos_ind = np.where(mod_data.iloc[:,-1].values == 1)[0]
    #shuffle them
    np.random.shuffle(pos_ind)
    # leave just p_range% of the positives marked
    pos_sample_len = int(np.ceil(p_range * len(pos_ind)))
    pos_sample = pos_ind[:pos_sample_len]
    mod_data['class_test'] = 0
    mod_data.loc[pos_sample,'class_test'] = 1
    x_data = mod_data.iloc[:,:-2].values # just the X 
    y_labeled = mod_data.iloc[:,-1].values # new class (just the P & U)
    y_positive = mod_data.iloc[:,-2].values # original class
    mod_data = mod_data.sample(frac=1)
    neg_sample = mod_data[mod_data['class_test']==0][:len(mod_data[mod_data['class_test']==1])]
    sample_test = mod_data[mod_data['class_test']==0][len(mod_data[mod_data['class_test']==1]):]
    pos_sample = mod_data[mod_data['class_test']==1]
    sample_train = pd.concat([neg_sample, pos_sample]).sample(frac=1)
    model = CatBoostClassifier(random_state=42, cat_features=cat_cols, silent=True)

    model.fit(sample_train.iloc[:,:-2], 
          sample_train.iloc[:,-2])
    y_predict = model.predict(sample_test.iloc[:,:-2].values)
    print(f'\nResults for {p_range*100}% P')
    res_list.append(evaluate_results(sample_test.iloc[:,-2].values, y_predict, True))

Results for 10.0% P
Classification results:
f1: 46.83%
roc: 65.50%
recall: 36.34%
precision: 65.82%

Results for 20.0% P
Classification results:
f1: 46.02%
roc: 65.07%
recall: 34.85%
precision: 67.75%

Results for 30.000000000000004% P
Classification results:
f1: 46.47%
roc: 65.28%
recall: 35.57%
precision: 66.97%

Results for 40.0% P
Classification results:
f1: 46.09%
roc: 65.13%
recall: 35.20%
precision: 66.77%

Results for 50.0% P
Classification results:
f1: 48.27%
roc: 66.28%
recall: 38.20%
precision: 65.57%

Results for 60.0% P
Classification results:
f1: 46.97%
roc: 65.58%
recall: 36.50%
precision: 65.85%

Results for 70.0% P
Classification results:
f1: 47.38%
roc: 65.76%
recall: 36.44%
precision: 67.71%

Results for 80.0% P
Classification results:
f1: 46.69%
roc: 65.42%
recall: 35.97%
precision: 66.52%

Results for 90.0% P
Classification results:
f1: 46.78%
roc: 65.44%
recall: 35.87%
precision: 67.26%

In [177]:
pd.DataFrame(data=res_list, index = np.linspace(0.1, 0.9, 9))

           f1       roc       rec       prc
0.1  0.468276  0.654994  0.363421  0.658173
0.2  0.460210  0.650711  0.348452  0.677502
0.3  0.464653  0.652847  0.355733  0.669710
0.4  0.460944  0.651325  0.351954  0.667716
0.5  0.482725  0.662831  0.381957  0.655716
0.6  0.469651  0.655828  0.364988  0.658473
0.7  0.473819  0.657610  0.364412  0.677105
0.8  0.466950  0.654207  0.359729  0.665227
0.9  0.467836  0.654365  0.358655  0.672583

Существенной разницы в метриках нет. Немного лучше результат при доле P = 50 %.

<b>Бонусный вопрос:</b>

Как вы думаете, какой из методов на практике является более предпочтительным: random negative sampling или 2-step approach?

Ваш ответ здесь:

Более предпочтительным должно быть решение 2-step approach, т.к. для обучения выбираются наиболее вероятные объекты, относящиеся к 0 классу.